.wrapper{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
}

.title{
    position: absolute;
    z-index: 4;
    top: 0;
    left: 0;
    width: 100vw;
    height: 15vh;
    background-color: rgb(36, 36, 36);
}

.texttitle{
    position: absolute;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 238, 0);
    font-size: 5vw;
    left: 13vw;
    top: 1.5vh;
    bottom: 70vh;
    
}
.imgtitle{
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    height: 200px;
    background-color: rgb(231, 133, 76);
    border-bottom-right-radius: 20%;
    border-bottom-right-radius: 5%;
}
.menu{
    position: absolute;
    z-index: 5;
    left: 12.5vw;
    bottom: 65vh;
    top: 15vh;
    width: 80vw;
    height: 5vh;
    background-color: rgb(78, 75, 75);
    opacity: 0.88;
    border-bottom-right-radius: 15px;

}

.menutext{
    position: absolute;
    text-indent: 1vw;
    writing-mode: horizontal-tb;
    font-size: 2vw;
}

a:link{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: cornflowerblue;
}

a:visited{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: blue;
}

.content{
    position: absolute;
    bottom: 5vh;
    right: 0;
    z-index: 4;
    width: 100vw;
    height: 75vh;
    text-align: center;
}

.textcontent{
   text-align: center; 
}

.bgimg{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
    width: 100vw;
    height: 100vh;
}

.footer{
    position: absolute;
    background-color: rgb(36, 36, 36);
    z-index: 4;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 5vh;
    box-shadow: 5px 3px 10px 6px rgb(255, 255, 255);
}

.textfooter1{
    position: absolute;
    color: white;
    left: 1vw;
    top: 0.3vh;
    bottom: 2vh;
    font-size: 0.8vw;
}

.textfooter2{
    position: absolute;
    color: white;
    left: 20vw;
    top: 0.3vh;
    bottom: 2vh;
    font-size: 0.8vw;
}